/* Basic Reset */
body,
h1,
nav,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    color: #212121;
}

header {
    background-color: #2196F3;
    /* Primary Blue */
    color: #FFFFFF;
    padding: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
    background-color: #FFFFFF;
    text-align: center;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #2196F3;
    padding: 15px 20px;
    display: block;
}

nav a:hover {
    background-color: #E3F2FD;
    transition: background-color 0.3s;
}